<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Steps Tracker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconArtyClickRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconArtyClickRed</string>
				</array>
			</dict>
			<key>AppIconChromeYellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconChromeYellow</string>
				</array>
			</dict>
			<key>AppIconNeonBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeonBlue</string>
				</array>
			</dict>
			<key>AppIconNeonPink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeonPink</string>
				</array>
			</dict>
			<key>AppIconPink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPink</string>
				</array>
			</dict>
			<key>AppIconPurpleDaffodil</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPurpleDaffodil</string>
				</array>
			</dict>
			<key>AppIconVividGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconVividGreen</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-4506845038813812~1520741328</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHealthShareUsageDescription</key>
	<string>$(PRODUCT_NAME) needs to get steps information from HealthKit to display in the dashboard and widget.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>$(PRODUCT_NAME) needs to get steps information from HealthKit to display in the dashboard and widget.</string>
	<key>NSMotionUsageDescription</key>
	<string>In order to count steps I need to access to your pedometer</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>CircularStd-BlackItalic.ttf</string>
		<string>CircularStd-Bold.ttf</string>
		<string>CircularStd-BoldItalic.ttf</string>
		<string>CircularStd-Book.ttf</string>
		<string>CircularStd-BookItalic.ttf</string>
		<string>CircularStd-Medium.ttf</string>
		<string>CircularStd-MediumItalic.ttf</string>
		<string>CircularStd-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
